:root {
  --gap: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(221, 171, 0);
}

.div-container {
  width: 100%;
  display: grid;
  gap: var(--gap);
}


.test {
  width: 100%;
  aspect-ratio: calc(1/0.87);
  background-color: rgb(255, 201, 14);
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@media screen and (min-width: 1200px){
  .test:nth-child(6n - 4), .test:nth-child(6n - 2) {
    width: 200%;
    position: relative;
    top: calc(50% + var(--gap)/2);
    left: -50%;
  }
  .test:nth-child(6n) {
    width: 100%;
    position: relative;
    top: 133.33%;
    left: -33.33%;
  }
  .div-container {
    grid-template-columns: repeat(2, 1fr 0.5fr) 1 0.75;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
  .test:nth-child(5n-3), .test:nth-child(5n-1) {
    width: 200%;
    position: relative;
    top: calc(50% + var(--gap)/2);
    left: -50%;
  }
  .div-container {
    grid-template-columns: repeat(2, 1fr 0.5fr) 1fr;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px){
  .test:nth-child(4n - 2) {
    width: 200%;
    position: relative;
    top: calc(50% + var(--gap)/2);
    left: -50%;
  }
  .div-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr 0.5fr) 1fr 0.75fr;
  }
  .test:nth-child(4n) {
    position: relative;
    top: calc(50% + var(--gap)/2);
    width: 133.33%;
    left: -33.33%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px){
  .test:nth-child(3n-1) {
    width: 200%;
    position: relative;
    top: calc(50% + var(--gap)/2);
    left: -50%;
  }
  .div-container {
    grid-template-columns: repeat(1, 1fr 0.5fr) 1fr;
  }
}

@media screen and (max-width: 600px){
  .test:nth-child(2n) {
    width: 200%;
    position: relative;
    top: calc(50% + var(--gap)/2);
    left: -50%;
  }
  .div-container {
    grid-template-columns: repeat(1, 1fr 0.5fr);
  }
}
