:root {
  /*Cantidad de hexagonos, varia segun el ancho de la pagina, ver abajo*/
  --quantityOfHex: 0;
  /*Ancho de pagina*/
  --screenWidth: 100vw;
  /*Proporcion del hexagono en vw => anchoDePagina / (0.75 * cantidadDeHex + 0.25)*/
  --hexProportion: calc(var(--screenWidth) / (var(--quantityOfHex) * 0.75 + 0.25));
  /*Margen entre hexagonos*/
  --marginBoxes: 5px;
  /*Ancho final de hexagonos, restado el margen entre hexagonos*/
  --finalHexWidth: calc(var(--hexProportion) - var(--marginBoxes));
  /*Relacion entre ancho y altura, aproximacion de (sqrt(3) / 2) */
  --aspectRatio: 0.87;
  /*Calculo de altura*/
  --hexHeight: calc(var(--finalHexWidth) * var(--aspectRatio));
  /*Margen negativo, para que los hexagonos se ajusten y se toquen, es igual al ancho sobre 4*/
  --negativeMargin: calc(var(--hexProportion)/-4);
  /*Desplaza el hexagono hacia abajo para que ocupe su lugar correspondiende, ademas, lo empuja un poco mas abajo, para que coincidan los margenes*/
  --moveHexDown: calc(var(--hexHeight)*0.5 + var(--marginBoxes) / 2)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(221, 171, 0);
}

.div-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}


.test {
    width: var(--finalHexWidth);
    height: var(--hexHeight);
    background-color: rgb(255, 201, 14);
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin-right: calc(var(--negativeMargin) + var(--marginBoxes));
    margin-bottom: var(--marginBoxes);
  } 

  @media screen and (min-width: 1100px){
    :root {
      --quantityOfHex: 8;
    }
    .test:nth-child(2n) {
      position: relative;
      top: var(--moveHexDown);
      background-color: red;
    }
  }

@media screen and (min-width: 850px) and (max-width: 1100px){
  :root {
    --quantityOfHex: 6;
  }
  .test:nth-child(2n) {
    position: relative;
    top: var(--moveHexDown);
    background-color: red;
  }
}

@media screen and (min-width: 750px) and (max-width: 850px){
  :root {
    --quantityOfHex: 5;
  }
  .test:nth-child(5n-3), .test:nth-child(5n-1) {
    position: relative;
    top: var(--moveHexDown);
    background-color: red;
  }
}

@media screen and (min-width: 650px) and (max-width: 750px){
  :root {
    --quantityOfHex: 4;
  }
  .test:nth-child(2n) {
    position: relative;
    top: var(--moveHexDown);
    background-color: red;
  }
}

@media screen and (min-width: 450px) and (max-width: 650px){
  :root {
    --quantityOfHex: 3;
  }
  .test:nth-child(3n-1) {
    position: relative;
    top: var(--moveHexDown);
    background-color: red;
  }
}

@media screen and (max-width: 450px){
  :root {
    --quantityOfHex: 2;
  }
  .test:nth-child(2n) {
    position: relative;
    top: var(--moveHexDown);
    background-color: red;
  }
}
